<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="Unit tests">
        <parameter name="example" value="0.1"/>
        <classes>
            <class name="test.xmlparser.builder.sax.MedicinesSAXBuilderTest"/>
            <class name="test.xmlparser.builder.stax.MedicinesStAXBuilderTest"/>
            <class name="test.xmlparser.builder.dom.MedicinesDOMBuilderTest"/>
            <class name="test.xmlparser.builder.jaxb.MedicinesJAXBBuilderTest"/>
        </classes>
    </test>
</suite>


